body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  width: max-content;
}

.App {
  font-family: sans-sarif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 100px 16px;
  background-color: #fae5ce;
  /* min-height: 100vh;
  height: 100%; */
}

#canvas-elm {
  border: 1px solid #f2f2f2;
}

.lower-canvas {
  position: initial !important;
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
  padding: 8px 8px;
  border-radius: 4px;
  position: fixed;
  top: 30%;
  left: 3%;
  z-index: 2;
  border: 1px solid #dad9d9;
  @media (max-width: 768px) {
    top: auto;
    flex-direction: row;
    bottom: 3%;
    left: 50%;
  }
  .button {
    cursor: pointer;
    background-color: #fae5ce;
    color: black;
    margin-right: auto;
  }
  .color-picker {
    width: 100%;
    border: none;
  }
  &:empty {
    display: none;
  }
}

.canvas-wrapper {
  width: 80vw;
  height: 70vh; /* or any responsive height you want */
}
